body {
    background: rgb(138, 119, 94);
  }
  
  .todo-container {
    background: rgb(95, 36, 36);
    width: 40vw;
    margin: 10px auto;
    border-radius: 15px;
    padding: 20px 10px;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(5, 36, 71);
  }
  
  .task {
    border: 2px solid rgb(43, 170, 43);
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
  }
  
  .task button {
    background: rgb(5, 116, 98);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    float: right;
  }
  
  .header {
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
  }
  
  .create-task input[type="text"] {
    margin: 2.5em 2em;
    width: 80%;
    outline: none;
    border: none;
    padding: 0.7em;
    border-radius: 5px;
  }
  